@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'DungGeunMo';
  font-style: normal;
  font-weight: normal;
  src: local('DungGeunMo'), url('./resources/font/DungGeunMo.woff') format('woff');
  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ENTIRE */
body {
  background-size: 100%;
  background-repeat: repeat-y;
  height: 100vh;
  margin: 0;
  background:url('./resources/img/v.10/basicBackground.png') ;
}

.test-background{
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  overflow: hidden;
  background-color: rgba(255, 250, 234, 1);
}

#dashHr {
  border: 1px dashed black;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

h3 {
  word-break: keep-all;
  font-size: 20px;
  text-align: center;
  font-family: 'DungGeunMo';
  font-style: normal;
  font-weight: normal;
  color: black;
  margin-top: 5px;
  line-height: 1.5em;
}

p {
  word-break: keep-all;
  text-align: center;
  font-family: 'DungGeunMo';
  line-height: 1.5em;
  font-size: large;
}

hr {
   border-bottom: 0;
    width: 320px;
}

tr {
  vertical-align: middle;
}


.button-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basicButton{
  font-family: 'DungGeunMo';
  border: 2px solid black;
  background-color: white;
  box-shadow: 5px 5px;
  margin: 10px;
  background-size: 100%;
  width: 172px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicButton:active {
  background-color: #F74503;
}

.basicButton >img {
  width: 55px;
}

.backButton{
  border: 2px solid black;
  background-color: white;
  width: 35px;
  height: 26px;
  left: 10px;
  background-size: 100%;
  margin: 10px;
}

.backButton > img {
  vertical-align: middle;
  width: 25px;
  padding: 5px;
}

.wrapper{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'DungGeunMo';
}

.allResultWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'DungGeunMo';
}

.title{
  width: 320px;
  text-align: center;
  margin-top: 20px;
  font-family: 'DungGeunMo';
}

.title >img {
  width: 320px
}

.allResultTitle {
  width: 400px;
  margin-bottom: 30px;
}

.allResultSub {
  padding-top: 13px;
  vertical-align: middle;
  font-size: x-large;
  margin: auto;
  width: 320px;
  height: 40px;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  color: #FFDB43;
  text-align: center;
}

#allResultType {
  font-size: larger;
  text-decoration: underline;
  text-underline-position: under;
}

.allResultCont {
  word-break: keep-all;
  margin: auto;
  width: 320px;
  line-height: 1.5em;
  text-align: center;
}

.allResult-content{
  margin-top: 20px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  word-break: keep-all;
  line-height: 1.5em;
  background-size: 100%;
}

.allresultFairyImg {
  padding-right: 0px;
  width: 320px;
}

.allResultFairyImg > img{
  border: 2px solid black;
  width: 320px;
}


/* home */

.logo {
  margin-top: 50px;
  position: relative;
  bottom: 10px;
  width: 250px;
}

#homeImage {
  border: 2px solid black;
  width: 300px;
}


/* nameField */

.nameTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nameText {
  vertical-align: middle;
  word-break: keep-all;
  line-height: 1.2em;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'DungGeunMo';
  width: 350px;
  padding-bottom: 30px;
}

.nameImage {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.nameImage >img {
  width: 300px;
}

input {
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 300px;
  text-align: center;
  font-family: 'DungGeunMo';
  font-size: large;
}

button {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  background-color: white;
  margin: 10px;
  width: 172px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DungGeunMo';
  font-size: large;
}

#nameButtonCenter {
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* hello */

#helloImage {
  width: 60px;
}

#helloImage >img {
  width: 60px;
}

.bigText {
  margin-top: 30px;
  font-size: 23px;
}

.firstBalloon {
  position: relative;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px;
}

.firstBalloon:after {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
  content: "";
  position: absolute;
  top: -25px;
  right: 50px;
}


.secBalloon {
  position: relative;
  background-color: black;
  border-radius: 10px;
  color: #FCD04D;
  width: 350px;
  margin-bottom: 20px;
  padding: 5px;
}

.secBalloon:after {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
  content: "";
  position: absolute;
  top: -25px;
  right: 50px;
}

/* Test */

.testTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.testText {
  vertical-align: middle;
  word-break: keep-all;
  line-height: 1.2em;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'DungGeunMo';
  width: 350px;
  height: 80px;
}

.solution-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 350px;
}

.solutionImg{
  border: 2px solid black;
  position: relative;
  width: 350px;
}

.Progress{
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.ProgressBackground{
  height: 20px;
  background-color: white;
  border: 1px solid black;
}

.Progress .ProgressBar{
  display: block;
  height: 20px;
  max-width: 260px;
  background-color: black;
}
.ProgressCount{
  font-weight: lighter;
  font-size: 22px;
  margin:12px;
  width: 40px;
}

h5 {
  display: flex;
  font-family: 'DungGeunMo';
  text-align: center;
}

/* loading */
.loadingImg {
  margin-top: 50px;
  width: 300px;
  border: 2px solid black;
}

.loadingImg >img {
  width: 300px;
}

/* Result */
#longTextButton{
  line-height: 1.3em;
  text-align: center;
  word-break: keep-all;
  text-decoration: none;
  font-size: small;
  padding: 10px;
  margin: auto;
}
.mainContents{
  text-align: center;
  line-height: 1.5em;
}

.result-data{
  width: 300px;
  border: 2px solid black;
}

.result-data > img {
  width: 300px;
}

#subtext {
  font-size: 15px;
  width: 400px;
  color: red;
  font-weight: lighter;
  padding-bottom: 20px;
}

.percent {
  width: 260px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
}

.percentText {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.percentGraph{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.percent1 {
  float: left;
  background-color: #10D538;
  width: 100px;
  margin-left: 0px;
  margin-right: 20px;
}

.percent1st {
  text-align: center;
  margin-top: -20px;
  font-size: smaller;
}

.percent2 {
  display: inline-block;
  background-color: #56CCF2;
  width: 100px;
}

.percent2nd {
  text-align: center;
  margin-top: -20px;
  font-size: smaller;
}

.subFairy {
  margin-top: 20px;
  width: 150px;
}

.subFairy > img {
  width: 150px;
}

#sub1 {
  z-index: 1;
  margin-top: 0;
  font-size: 24px;
  color: #F74503;
}

#sub2 {
  z-index: 1;
  margin-top: 0;
  font-size: 24px;
  color: #12CB19;
}

.firstBox{
  z-index: 1;
  position: relative;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
}

.contentsA {
  font-size: medium;
  word-break: keep-all;
}

.contentsB {
  word-break: keep-all;
  font-size: large;
  margin-bottom: 10px;
}


.resultEffect {
  font-size: larger;
  width: 300px;
  border-radius: 10px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px;
  padding-top: 20px;
  line-height: 1.5em;
  text-align: center;
}

.EffectEmoj {
  width: 80px;
  height: 80px;
  background-color:white;
  border-radius: 40px;
  margin: auto;
}

.EffectEmoj > img {
  width: 80px;
}

.frinedFairy {
  margin-top: 20px;
  width: 300px;
  background-color: white;
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.frinedFairy > img {
  width: 150px;
  text-align: center;
}


.basicButton2{
  font-family: 'DungGeunMo';
  border: 2px solid black;
  background-color: #F74503;
  box-shadow: 5px 5px black;
  margin: 10px;
  background-size: 100%;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.basicButton2 :active {
  background-color: #12CB19;
}

.basicButton2 >img {
  width: 55px;
}

.basicButton3{
  font-family: 'DungGeunMo';
  border: 2px solid black;
  background-color: #12CB19;
  box-shadow: 5px 5px black;
  margin: 10px;
  background-size: 100%;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.basicButton3:active {
  background-color: #F74503;
}

.basicButton3 >img {
  width: 55px;
}

.basicButton4{
  font-family: 'DungGeunMo';
  border: 2px solid black;
  background-color: white;
  box-shadow: 5px 5px black;
  margin: 10px;
  background-size: 100%;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.basicButton4:active {
  background-color: gold;
}

.basicButton4 >img {
  width: 55px;
}

.buttonIcon {
  text-align: left;
}

.buttonIcon > img {
  width: 50px;
}

#longTextButton2{
  display: inline-block;
  line-height: 1.3em;
  color: white;
  word-break: keep-all;
  text-decoration: none;
  font-size: small;
  padding: 10px;
  margin: auto;
}

#longTextButton3{
  display: inline-block;
  line-height: 1.3em;
  color: #FB5061;
  word-break: keep-all;
  text-decoration: none;
  font-size: small;
  padding: 10px;
  margin: auto;
}

.contentsC {
  word-break: keep-all;
  font-size: medium;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
}

.contentsD {
  word-break: keep-all;
  color: #FFDB43;
  font-size: medium;
  text-align: left;
  margin-top: 10px;
}

.hashtagText {
  word-break: keep-all;
  line-height: 1.5em;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  padding: 10px;
  color: #989696;
  font-size: smaller;
  font-weight: lighter;
}

.hashtagCopy {
  margin-bottom: 0px;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: smaller;
  font-weight: lighter;
  border-top: 0;
}

.proInfo {
  word-break: keep-all;
  width: 300px;
  padding: 10px;
  border: 2px solid #F74503;
  background-color: white;
  color: #F74503;
  font-size: smaller;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.centerImg {
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

.centerImg > img {
  width: 250px;
}

.shareThing {
  margin: auto;
  margin-top: 10px;
  width: auto;
}

.openInsta {
  margin: auto;
  width: 80px;
  word-break: keep-all;
  text-align: center;
  font-size: small;
  line-height: 1.3em;
}

.openInsta > img {
  width: 80px;
}

.copyLink > img {
  width: 80px;
}

.thing {
  margin: auto;
  width: 80px;
  word-break: keep-all;
  text-align: center;
  font-size: small;
  line-height: 1.3em;
}

.tableSet {
  width: 30px;
}

/* FOOTER */

.footer{
  line-height: 1.5em;
  width: 100vw;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid;
  border-color: rgba(251,80,97,1);
  color:rgba(251,80,97,1) ;
  font-size: small;
}

/* Vertical */
.vertical ul li {
  overflow:hidden;
  margin:0 0 1px;
}
.vertical ul li label {
  padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
  border-bottom:0;
}
.vertical ul li label:active {
  background: #D2CCFB;
}
.vertical ul li .content {
  height: 0px;
  border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
  height: auto;
  border:1px solid black;
  background: rgba(250, 250, 250, 0.3);
}


@media only screen and (min-width: 768px) {
  .basicButton {
    display: none;
  }
  .title {
    margin-top: 100px;
  }

}

@media only screen and (max-width: 768px) {
  .pcAlert {
    display: none;
  }
}